{% extends 'lofi/base.html' %}

{% block content %}
    {% load crispy_forms_tags %}
    <div class="container" style="margin-top: 2em;">
        <form action="{% url 'request_lofi' %}" method="post">
            {% csrf_token %}
            <div class="form-row">
                {{ form.article_url|as_crispy_field }}
            </div>
            <div class="form-row">
                {{ form.text|as_crispy_field }}
            </div>
            <div class="form-row">
                {{ form.freq_num|as_crispy_field }}
            </div>
            <div class="form-row" style="margin-top: 0.5em;">
                {{ form.rand_video|as_crispy_field }}
            </div>
            <input type="submit" class="btn btn-primary" value="Request">
        </form>
    </div>
{% endblock %}